<!DOCTYPE html>
<html>
<head>
    <title>CodeMirror</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/codemirror.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/codemirror.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/mode/xml/xml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.0/mode/css/css.js"></script>
    <link rel="stylesheet" href="https://codemirror.net/theme/base16-dark.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/darcula.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/ambiance.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/tomorrow-night-eighties.css">
    <link rel="stylesheet" href="https://codemirror.net/theme/midnight.css">
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    <style type="text/css">
        .frame {
            height: 90%;
            width: 100%;
        }
    </style>
</head>
<body>

    <div class="row">
        <div class="col-lg">
            <h2>HTML Trial Course</h2>
            <div id="page-1">
            <p>In this course we will cover the basics of website development with HTML, CSS and JavaScript.</p>
            <p>Our first project will be to create an online news article for a news company.</p>
            <p>
                HTML consists of tags (e.g <b>&ltbody&gt</b>) which will perform different functions on the content of the pages.
                (e.g anything inside of a  <b>&ltb&gt</b>(bold) tag will show up as bold. (See HTML tags image). All Tags need an
                opening &lttag&gt and closing &lt/tag&gt to show where they start and stop.
            </p>
            <p>
                The first tag we’ll learn is<b>&lthtml&gt</b><b>&lt/html&gt</b> this tag is the definition of the boundaries for the entire
                page.
            </p>
            <p>
                Next is the <b>&lthead&gt</b><b>&lt/head&gt</b> tag. This tag is the “head” of the page and will contain information about
                the page, such as the title and metadata (more on this later). You can add a title to the page by using the
                <b>&lttitle&gt</b><b>&lt/title&gt</b> tags in your <b>&lthead&gt</b>tag
            </p>
            <p>
                Following that we have the <b>&ltbody&gt</b><b>&lt/body&gt</b> tag. This tag is the “body” of the page and will contain the
                content to be displayed on the site.
            </p>
            <p>That’s all the tags we need to get started and to start setting up our first page!</p>
            </div>
            <div id="page-2">
                <p>To start we need our <b>&lthtml&gt</b> tags to define our page. (tags generated on next button in editor, or
                    shown as greyed out and replaced when typed over).</p>
                <p>Next we need our <b>&lthead&gt</b> tags to define the pages title. (tags generated on next button in editor, or shown as greyed out and replaced when typed over).</p>
                <p>Our next step is to add the <b>&ltbody&gt</b> tags to allow us to put content on our page. (tags generated on next button in editor, or shown as greyed out and replaced when typed over).</p>
                <p>That’s our first steps completed! We have a blank page with a title and body ready to show content!</p>
                <p>Let’s give our page and article a heading, there are 6 predefined heading tags <b>&lth1&gt</b> - <b>&lth6&gt</b>
                    each of which will change the style of the text inside of the tags. H1 is the largest text format, and H6 is the
                    smallest. These can be changed later in the “CSS”, but for now we’re going to focus on just HTML!
                    So let’s start with H1 for the main title of the page. First add your <b>&lth1&gt</b> tags then add a title to the page,
                    it can be whatever you’d like!</p>
            </div>
            <button id="previous" class="btn btn-info">Previous</button>&nbsp;<button id="next" class="btn btn-info">Next</button>
            @*<iframe width="420" height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>*@
        </div>
        <div class="col-lg">
            <textarea class="editor" id="htmlEditor"></textarea>
            <textarea class="editor" id="jsEditor"></textarea>

            <textarea class="editor" id="cssEditor"></textarea>
            <button id="create" class="btn btn-primary">Create</button>
        </div>
        <div class="col-lg">
            <iframe id="iframe" class="frame" frameBorder="0"></iframe>
        </div>
    </div>

</body>

</html>
